@{
    ViewBag.Title = "Home Page";
}


@section Styles
{
    <style type="text/css">
        h1 {
            font-family: Georgia, serif;
            font-size: 30px;
            letter-spacing: 2px;
            word-spacing: 2px;
            color: floralwhite;
            font-variant: small-caps;
        }

        h2 {
            font-family: Georgia, serif;
            font-size: 25px;
            letter-spacing: 2px;
            word-spacing: 2px;
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            font-style: normal;
            font-variant: small-caps;
            text-transform: none;
        }

        html, body {
            background: #F5F5F5 url("https://eleven-fifty-redbadge-jc.imgix.net/white-marble-background-3%20(1).jpg") no-repeat scroll 50% 50%;
        }

        
    </style>
}

<div class="jumbotron" id="jumbo">
    <h1 class="text-center">Feng Shui</h1>
    <h2 class="lead text-center">Bring a new balance and atmosphere to your home.</h2>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://eleven-fifty-redbadge-jc.imgix.net/Wabi-Sabi.jpg?fit=fill&fill=blur&w=1200&h=900" alt="..." />
            <div class="carousel-caption">
                <h1>@Html.ActionLink("Wabi-Sabi", "PADetails/4", "ProductAmbience", null, new { style = "color:white" })</h1>
                <p>Embrace the imperfect and the fleeting.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://eleven-fifty-redbadge-jc.imgix.net/Moody.jpg?fit=fill&fill=blur&w=1200&h=900" alt="..." />
            <div class="carousel-caption">
                <h1>@Html.ActionLink("Moody", "PADetails/2", "ProductAmbience", null, new { style = "color:white" })</h1>
                <p>Darker colours, grey, black, or bold touches of colour mix with more industrial and luxury elements create the moody feel.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://eleven-fifty-redbadge-jc.imgix.net/Lively.jpg?fit=fill&fill=blur&w=1200&h=900" alt="..." />
            <div class="carousel-caption">
                <h1>@Html.ActionLink("Lively", "PADetails/1", "ProductAmbience", null, new { style = "color:white" })</h1>
                <p>The bright and airy interior design style features lots of white, and other light colours, cosy fabrics, pale timber, and friendly ‘vibes’.</p>
            </div>
        </div>
        <div class="item">
            <img src="https://eleven-fifty-redbadge-jc.imgix.net/Log-Cabin-Vibes.jpg?fit=fill&fill=blur&w=1200&h=900" alt="...">
            <div class="carousel-caption">
                <h1>@Html.ActionLink("Log Cabin Vibes", "PADetails/3", "ProductAmbience", null, new { style = "color:white" })</h1>
                <p>The feel of a warm fire and smell of pine seems to go well with this atmosphere.</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

